<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Quotes</key>
	<array>
		<dict>
			<key>Quote</key>
			<string>&quot;A positive attitude gives you power over your circumstances instead of your circumstances having power over you.&quot; — Joyce Meyer</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>“A positive attitude gives you power over your circumstances instead of your circumstances having power over you.” ~ Joyce Meyer</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;Character cannot be developed in ease and quiet. Only through experience of trial and suffering can the soul be strengthened, ambition inspired, and success achieved.&quot; — Helen Keller

</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;Getting better from depression demands a lifelong commitment. I&apos;ve made that commitment for my life&apos;s sake and for the sake of those who love me.&quot; — Susan Polis Schutz</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;If you could only sense how important you are to the lives of those you meet; how important you can be to the people you may never even dream of. There is something of yourself that you leave at every meeting with another person.&quot; — Fred Rogers</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;Keep yourself busy if you want to avoid depression. For me, inactivity is the enemy.&quot; — Matt Lucas</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;Good humor is a tonic for mind and body. It is the best antidote for anxiety and depression. It is a business asset. It attracts and keep friends. It lightens human burdens. It is the direct route to serenity and contentment.&quot; — Greenville Kleisser</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;There are far, far better things ahead than anything we leave behind.&quot; — C. S. Lewis</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>“If you know someone who’s depressed, please resolve never to ask them why. Depression isn’t a straightforward response to a bad situation; depression just is, like the weather.</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;It is very hard to explain to people who have never known serious depression or anxiety the sheer continuous intensity of it. There is no off switch. I was overwhelmed by something I did not understand - my own brain.&quot; Matt Haig</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>We can alleviate physical pain, but mental pain - grief, despair, depression, dementia - is less accessible to treatment. It&apos;s connected to who we are - our personality, our character, our soul, if you like.&quot; Richard Eyre</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;It&apos;s often difficult for those who are lucky enough to have never experienced what true depression is to imagine a life of complete hopelessness, emptiness and fear.&quot; Susan Polis Schutz</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;Don&apos;t let life discourage you; everyone who got where he is had to begin where he was.&quot; Richard L. Evan</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;Start by doing what&apos;s necessary; then do what&apos;s possible; and suddenly you are doing the impossible.&quot; St. Francis of Assisi</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;Twenty years from now you will be more disappointed by the things you didn&apos;t do, than by the ones you did. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore, Dream, Discover.&quot; Mark Twain</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;The greatest discovery of my generation is that a human being can change his life by changing his attitude of mind.&quot; William James</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;Many of life&apos;s failures are experienced by people who did not realize how close they were to success when they gave up.&quot; Thomas Edison</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;Pain is temporary. It may last a minute, or an hour, or a day, or a year, but eventually it will subside and something else will take its place. If I quit, however, it lasts forever.&quot; Lance Armstrong</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;The ultimate measure of a man is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.&quot; Martin Luther King Jr.</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;The most beautiful people we have known are those who have known defeat, known suffering, known struggle, known loss, and have found their way out of the depths. These persons have an appreciation, a sensitivity, and an understanding of life that fills them with compassion, gentleness, and a deep loving concern. Beautiful people do not just happen.&quot; Elisabeth Kübler-Ross</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>“God does not give us overcoming life— He gives us life as we overcome.” Oswald Chambers</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>“You are not your past. You are the warrior that rose above it to become the example of someone who didn&apos;t survive, but thrived in creating the most beautiful last chapter of their life.” Shannon L. Alder</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>Self-care is never a selfish act—it is simply good stewardship of the only gift I have, the gift I was put on earth to offer to others.&quot; Parker Palmer</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;A healthy self-love means we have no compulsion to justify to ourselves or others why we take vacations, why we sleep late, why we buy new shoes, why we spoil ourselves from time to time. We feel comfortable doing things which add quality and beauty to life.&quot; Andrew Matthews

</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;You have been criticizing yourself for years, and it hasn’t worked. Try approving of yourself and see what happens.&quot; Louise L. Hay</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>Remember always that you not only have the right to be an individual, you have an obligation to be one.&quot; Eleanor Roosevelt</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;Count the garden by the flowers, never by the leaves that fall. Count your life with smiles and not the tears that roll.&quot; unknown author</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;Self-esteem is a powerful force within each of us... Self-esteem is the experience that we are appropriate to life and to the requirements of life.&quot; Nathaniel Branden</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;Remember, no one can make you feel inferior without your consent.&quot; Eleanor Roosevelt</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;Have patience with all things, but chiefly have patience with yourself. Do not lose courage in considering your own imperfections but instantly set about remedying them -- every day begin the task anew.&quot;

Saint Francis de Sales</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;Sometimes your joy is the source of your smile, but sometimes your smile can be the source of your joy.&quot;

Thich Nhat Hanh</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;The greatest degree of inner tranquility comes from the development of love and compassion. The more we care for the happiness of others, the greater is our own sense of well-being.&quot;

</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;What you thought before has led to every choice you have made, and this adds up to you at this moment. If you want to change who you are physically, mentally, and spiritually, you will have to change what you think.&quot;

Dr. Patrick Gentempo


</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;Too often we underestimate the power of a touch, a smile, a kind word, a listening ear, an honest compliment, or the smallest act of caring, all of which have the potential to turn a life around.&quot;

Leo Buscaglia


</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;Stop hating yourself for everything you aren&apos;t and start loving yourself for everything your already are&quot;</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>“We learn from failure, not from success.” – Bram Stoker</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>“Accept challenges, so that you may feel the exhilaration of victory.” – George S. Patton</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;The LORD hears his people when they call to him for help. He rescues them from all their troubles.&quot;</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;Many sorrows come to the wicked, but unfailing love surrounds those who trust the LORD .&quot;</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;So do not fear, for I am with you; do not be dismayed, for I am your God. I will strengthen you and help you; I will uphold you with my righteous right hand.&quot;</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>&quot;Trust in the Lord with all your heart, and do not lean on your own understanding. In all your ways acknowledge him, and he will make straight your paths.&quot;

</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>Ask, and it will be given you;
seek, and you will find;
knock, and it will be opened to you.
~ Luke 11:9</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>You shall be free indeed when your days are not without a care nor your nights without want and a grief. But rather when these things girdle your life and yet you rise above them naked and unbound.
~ Khalil Gibran</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>You must do the thing you think you cannot do.
~ Eleanor Roosevelt</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>Have patience with everything unresolved in your heart and to try to love the questions themselves. Don’t search for the answers, which could not be given to you now, because you would not be able to live them. And the point is to live everything. Live the questions now. Perhaps then, someday far in the future, you will gradually, without even noticing it, live your way into the answer.
~ Rainer Maria Rilke</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>Life isn’t about waiting for the storm to pass, it’s about learning how to dance in the rain.
~ Author Unknown</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>Courage does not always roar. Sometimes courage is the quiet voice at the end of the day saying, ‘I will try again tomorrow.’
~ Mary Anne Radmacher</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>“We must embrace pain and burn it as fuel for our journey.” ~ Kenji Miyazawa</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>Always dream and shoot higher than you know you can do. Don’t bother just to be better than your contemporaries or predecessors. Try to be better than yourself.” ~ William Faulkner</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>“Believe in yourself and all that you are. Know that there is something inside you that is greater than any obstacle.” ~ Christian D. Larson</string>
		</dict>
		<dict>
			<key>Quote</key>
			<string>“Problems are not stop signs, they are guidelines.” ~ Robert Schuller</string>
		</dict>
	</array>
</dict>
</plist>
